.footer{
    background-color:#7e3d51;
    display: flex;
    color:aliceblue;
    list-style: none;
    justify-content: space-evenly;
    
}

#subscribe{
    margin-right:10px;
    margin-top:10px;
    border-radius: 20px;
    height:30px;
    background-color: rgba(227, 204, 228, 0.997);

}

#foot1{
   list-style: none;
   
}
#foot2{
    list-style: none;
    padding-top: 21px;
}

#Socials{
    list-style: none;
    display:flex;
    padding-top: 8px;
    
}
#insta{
   
    height:40px;
    width:40px;
}

#fb{
    height:28px;
    width:30px;
    padding-top: 4px;

}
#twitter{
    padding:10px;
    height:23px;
    width:23px;
}

